## Preprocessing & Visualization

**Import packages**

In [1]:
# Import basic system and data processing libraries
import os

# Pandas for data manipulation and analysis
import pandas as pd

# NumPy for numerical calculations
import numpy as np

# Matplotlib for data visualization
import matplotlib.pyplot as plt
# PdfPages from Matplotlib for creating PDF documents
from matplotlib.backends.backend_pdf import PdfPages

# Checking for Multicollinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor

# NetworkX for network visualization
import networkx as nx

# Pdfkit for converting HTML/CSS to PDF
import pdfkit

# StandardScaler from Scikit-learn for data standardization
from sklearn.preprocessing import StandardScaler

# FPDF for creating PDF documents
from fpdf import FPDF

**Method to plot every ts in a single pdf**

In [2]:
def plot_all_series_to_pdf(file_path, data_frame, y_axis='DAY-AHEAD_PRICE', split_date= None, xlim_start='2015-06-01', xlim_end='2024-06-01'):
    """
    Create a plot with all columns in the DataFrame and save it in a PDF file.

    Parameters:
        file_path (str): The file path where the PDF file should be saved.
        data_frame (pd.DataFrame): The DataFrame containing the data for the plots.
        y_axis (str): The name of the y-axis. Default is 'DAY-AHEAD_PRICE'.
        split_date (str or None): The split date for the red dashed vertical line. Default is None.
        xlim_start (str): The start date for the x-axis limit. Default is '2015-06-01'.
        xlim_end (str): The end date for the x-axis limit. Default is '2024-06-01'.
    """
    pdf_pages = PdfPages(file_path)
    
    plt.figure(figsize=(12, 6))
    
    # Plot all columns in the DataFrame
    for column_name in data_frame.columns:
        plt.plot(data_frame.index, data_frame[column_name], label=column_name)
    
    plt.xlabel('')
    plt.ylabel(y_axis)
    plt.legend(loc='upper left', bbox_to_anchor=(1, 1), ncol=1, fontsize='small')
    plt.grid(True)
    
    # Add the red dashed vertical line only if a split date is provided
    if split_date is not None:
        split_date = pd.to_datetime(split_date)  
        plt.axvline(x=split_date, color='red', linestyle='--', label='Split Date')
    
    # Set x-axis limits
    plt.xlim(pd.to_datetime(xlim_start), pd.to_datetime(xlim_end))
    
    # Save the plot to the PDF
    pdf_pages.savefig(plt.gcf(), bbox_inches='tight')
    plt.close()
    
    pdf_pages.close()

**Read Data**

In [3]:
path = r'Data (daily).csv'
entsoe_prc_dly = pd.read_csv(path)

In [4]:
# Create a date range from "29.04.2016" to "01.01.2024" on a daily basis and set it as the index in the DataFrame
entsoe_prc_dly.index = pd.date_range(start="2016-04-29", end="2024-01-01", freq='D')

**Special Treatment for Poland (PL) bc of currency switch**

In [5]:
path2 = r'PLN_EUR_EXCHANGE.xlsx'
exchange_rate = pd.read_excel(path2, usecols=['TIME_PERIOD', 'OBS_VALUE']).set_index('TIME_PERIOD')

In [6]:
entsoe_prc_dly.index = pd.to_datetime(entsoe_prc_dly.index)
exchange_rate.index = pd.to_datetime(exchange_rate.index)

# Filter the daily means for the period from 02.03.2017 to 19.11.2019
start_date = "2017-03-02"
end_date = "2019-11-19"
pln_prices = entsoe_prc_dly[start_date:end_date]['PL']

# Filter the EUR/PLN exchange rate for the same period
exchange_rates = exchange_rate[start_date:end_date]

# Fill in the missing exchange rates with the last available values
exchange_rates = exchange_rates.reindex(pd.date_range(start=start_date, end=end_date, freq='D'))
exchange_rates['OBS_VALUE'].fillna(method='ffill', inplace=True)

# Convert PLN to EUR
eur_prices = pln_prices / exchange_rates['OBS_VALUE']

# Update the PL column
entsoe_prc_dly.loc[start_date:end_date, 'PL'] = eur_prices

**Selection of appropriate Time Series for further analysis**  
Selection Criteria: Completeness and Consistency (see Appendix)

In [7]:
selected_zones = entsoe_prc_dly[['AT', 'BE', 'CH', 'CZ', 'DE.AT.LU', 'DE.LU', 'DK.1', 'DK.2', 'EE', 'ES', 'FI', 'FR', 'GR', 'HU', 'IT.CNOR', 'IT.CSUD', 'IT.NORD', 'IT.SARD', 'IT.SICI', 'IT.SUD', 'LT', 'LV', 'NL', 'NO.1', 'NO.2', 'NO.3', 'NO.4', 'NO.5', 'PL', 'PT', 'SE.1', 'SE.2', 'SE.3','SE.4', 'SI', 'SK']]

**Assessing Multicollinearity in Countries Comprising Multiple Bidding Zones**

In [8]:
denmark_df = selected_zones.filter(like='DK')
vif_data = pd.DataFrame()
vif_data["Variable"] = denmark_df.columns
vif_data["VIF"] = [variance_inflation_factor(denmark_df.values, i) for i in range(denmark_df.shape[1])]
vif_data

  Variable        VIF
0     DK.1  76.560437
1     DK.2  76.560437

In [10]:
italy_df = selected_zones.filter(like='IT')
vif_data = pd.DataFrame()
vif_data["Variable"] = italy_df.columns
vif_data["VIF"] = [variance_inflation_factor(italy_df.values, i) for i in range(italy_df.shape[1])]
vif_data

  Variable          VIF
0  IT.CNOR  2692.339282
1  IT.CSUD  1140.250965
2  IT.NORD  2238.325097
3  IT.SARD    67.881810
4  IT.SICI    96.920226
5   IT.SUD   774.389943

In [11]:
norway_df = selected_zones.filter(like='NO.')
vif_data = pd.DataFrame()
vif_data["Variable"] = norway_df.columns
vif_data["VIF"] = [variance_inflation_factor(norway_df.values, i) for i in range(norway_df.shape[1])]
vif_data

  Variable          VIF
0     NO.1  1218.404615
1     NO.2    36.272237
2     NO.3    10.642033
3     NO.4     8.804177
4     NO.5  1170.615756

In [12]:
sweden_df = selected_zones.filter(like='SE.')
vif_data = pd.DataFrame()
vif_data["Variable"] = sweden_df.columns
vif_data["VIF"] = [variance_inflation_factor(sweden_df.values, i) for i in range(sweden_df.shape[1])]
vif_data

  Variable        VIF
0     SE.1  58.401749
1     SE.2  61.261546
2     SE.3  24.290472
3     SE.4  19.151038

In [13]:
germany_df = selected_zones.loc[:, ['AT', 'DE.LU']]
# Drop rows with missing values
germany_df = germany_df.dropna()
vif_data = pd.DataFrame()
vif_data["Variable"] = germany_df.columns
vif_data["VIF"] = [variance_inflation_factor(germany_df.values, i) for i in range(germany_df.shape[1])]
vif_data

  Variable        VIF
0       AT  52.824865
1    DE.LU  52.824865

**Aggregation for the treatment of multicollinearity**

In [14]:
aggregation_df = selected_zones.copy()
# List of country codes consisting of multiple bidding zones
laenderkuerzel = ['IT', 'DK', 'NO', 'SE']

# Iterate through each country code and calculate the average for the corresponding columns
for kuerzel in laenderkuerzel:
    # Filter columns that start with the current country code
    spalten_mit_kuerzel = [spalte for spalte in selected_zones.columns if spalte.startswith(kuerzel)]
    
    # Create a new column with the average of the selected columns
    aggregation_df[f'{kuerzel}'] = aggregation_df[spalten_mit_kuerzel].mean(axis=1)

    # Delete the original columns
    aggregation_df.drop(columns=spalten_mit_kuerzel, inplace=True)

**Aggregation: From the time series 'AT', 'DE.LU', 'DE.AT.LU', a time series 'DE.AT.LU' is created, which extends over the entire period.**

In [15]:
aggregation_df['DE.AT.LU mean'] = aggregation_df[['AT', 'DE.LU', 'DE.AT.LU']].mean(axis=1)
aggregation_df = aggregation_df.drop(['AT', 'DE.LU', 'DE.AT.LU'], axis=1)
aggregation_df = aggregation_df.rename(columns={'DE.AT.LU mean': 'DE.AT.LU'})

In [ ]:
# Sort the column names
aggregation_df = aggregation_df.reindex(sorted(aggregation_df.columns), axis=1)

In [13]:
aggregation_df.to_csv(r'aggregation_df.csv', index=True)

**Calculate the first differences to achieve stationarity in the time series**

In [24]:
# Perform first difference for each column
aggregation_diff_df = aggregation_df.apply(lambda x: x.diff())
# Delete the first row in the DataFrame: The transformation has created NaN values in the first row
aggregation_diff_df = aggregation_diff_df.drop(aggregation_diff_df.index[0])

In [ ]:
aggregation_diff_df.to_csv(r'aggregation_diff_df.csv', index=True)

**Scaling and Standardizing: Z-Score Transformation**

In [15]:
# Create StandardScaler
scaler = StandardScaler()

# Perform scaling
aggregation_diff_scaled_df = scaler.fit_transform(aggregation_diff_df)

# Save scaled DataFrame
aggregation_diff_scaled_df = pd.DataFrame(aggregation_diff_scaled_df, columns=aggregation_diff_df.columns, index=aggregation_diff_df.index)

In [ ]:
aggregation_diff_scaled_df.to_csv(r'aggregation_diff_scaled_df.csv', index=True)

**Plots of Day-ahead prices (daily)**

In [16]:
#Plot Day-ahead price data
plot1= r'Day-ahead prices.pdf'
plot_all_series_to_pdf(plot1, aggregation_df, "€/MWh", split_date= None, xlim_start='2016-12-01', xlim_end='2024-06-01')

**Plots of scaled first differences**

In [65]:
#Plot first differences
plot2 = r'first diff scaled.pdf'
plot_all_series_to_pdf(plot2, aggregation_diff_scaled_df,"First-Differences", split_date=None, xlim_start='2015-06-01', xlim_end='2024-06-01')